<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__row">
        <div class="footer__col">
          <div class="footer__logo-block">
            <!-- logo  -->
            <a href="./" class="logo footer__logo">
              <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
              <h2 class="logo__title">grocerymart</h2>
            </a>
            <p class="logo__desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo ipsa et fuga alias ullam, dolor a,
              temporibus quaerat quis aspernatur consectetur nesciunt dolorum assumenda, expedita saepe odio.
            </p>
          </div>
        </div>
        <div class="footer__col">
          <h4 class="footer__heading">Shop</h4>
          <ul class="footer__list">
            <li class="footer__link"><a href="#!"> All Departments</a></li>
            <li class="footer__link"><a href="#!"> TV & Video</a></li>
            <li class="footer__link"><a href="#!">Computers</a></li>
            <li class="footer__link"><a href="#!">Wearable Technology</a></li>
            <li class="footer__link"><a href="#!">Savings</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4 class="footer__heading">Support</h4>
          <ul class="footer__list">
            <li class="footer__link"><a href="#!">Store Locator</a></li>
            <li class="footer__link"><a href="#!"> Order status</a></li>
          </ul>
        </div>

        <div class="footer__col">
          <h4 class="footer__heading">Shop</h4>
          <ul class="footer__list">
            <li class="footer__link"><a href="#!">Customer services</a></li>
            <li class="footer__link"><a href="#!">term of use</a></li>
            <li class="footer__link"><a href="#!">Privacy</a></li>
            <li class="footer__link"><a href="#!">Careers</a></li>
            <li class="footer__link"><a href="#!">About</a></li>
          </ul>
        </div>

        <!-- contact -->
        <div class="footer__col">
          <h4 class="footer__heading">Contact</h4>
          <ul class="footer__list">
            <li class="footer__link">
              <p class="footer__label">Email</p>
              <a href="mailTo:example@mail.com">example@mail.com</a>
            </li>
            <li class="footer__link">
              <p class="footer__label">Phone</p>
              <a href="tel:088855566">088855566</a>
            </li>
            <li class="footer__link">
              <p class="footer__label">Address</p>
              <p class="footer__contact-detail">5 Phạm Hùng, Mỹ Đình, Nam Từ Liêm, Hà Nội, Việt Nam</p>
            </li>
            <li class="footer__link">
              <p class="footer__label">Hours</p>
              <p class="footer__contact-detail">08am - 05pm</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
