<div class="container">
  <div class="topbar">
    <!-- logo  -->
    <a href="./" class="logo">
      <img src="../assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
      <h2 class="logo__title">grocerymart</h2>
    </a>

    <!-- nav -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li>
          <a href="#!" class="navbar__link">
            Departments
            <img src="../assets/icon/arrow-down.svg" alt="" class="icon" />
          </a>
        </li>
        <li>
          <a href="#!" class="navbar__link">
            Grocery
            <img src="../assets/icon/arrow-down.svg" alt="" class="icon" />
          </a>
        </li>
        <li>
          <a href="#!" class="navbar__link">
            Beauty
            <img src="../assets/icon/arrow-down.svg" alt="" class="icon" />
          </a>
        </li>
      </ul>
    </nav>

    <div class="top-act">
      <div class="top-act__group">
        <div class="top-act__btn">
          <img
            src="../assets/icon/search.svg"
            alt="search"
            class="icon top-act__icon"
          />
        </div>
      </div>
      <div class="top-act__group">
        <div class="top-act__btn">
          <img
            src="../assets/icon/heart.svg"
            alt="heart"
            class="icon top-act__icon"
          />
          <span class="top-act__title">03</span>
        </div>
        <div class="top-act__separate"></div>
        <div class="top-act__btn">
          <img
            src="../assets/icon/cart.svg"
            alt="cart"
            class="icon top-act__icon"
          />
          <span class="top-act__title">$65.42</span>
        </div>
      </div>
    </div>

    <div class="top-user">
      <img src="../assets/images/avatar.jpg" alt="" />
    </div>
  </div>
</div>
