@use "../abstracts";

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(39%) saturate(919%) hue-rotate(210deg) brightness(101%)
    contrast(97%);

  --header-bg-color: #eeeeee;
  --body-bg: #f6f6f6;
  --top-group-bg-color: #fff;
  --top-group-box-shadow: rgba(237, 237, 246, 0.2);
  --top-group-separate: #ededf6;
  --top-user-box-shadow: rgba(0, 0, 0, 0.08);

  @include abstracts.screen(sm) {
    --header-bg-color: #fff;
  }

  // dropdow
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(0%) sepia(97%) saturate(7481%) hue-rotate(217deg)
    brightness(91%) contrast(94%);

  --navbar-shadow-color: rgba(200, 200, 200, 0.4);
  --navbar-bg-color: #fff;

  // category item
  --cate-item-bg-color: #eee;
  --cate-item-thumb-bg-color: #fff;

  // product list
  --product-item-bg: #fff;
  --filter-text-color: #6c6c72;
  --product-item-shadow: rgba(237, 237, 246, 0.2);

  --product-item-img-bg: #fff;

  --product-item-btn-like-bg: #fff;
  --product-item-btn-shadow: rgba(124, 124, 124, 0.2);
  --product-item-brand: #9e9da8;

  // filter-form
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-slide-color: #d2d1d6;
  --minmax-input: #d2d1d6;
  --filter-form-split-line: #eee;
  --filter-form-tag-bg-color: #f8f8fb;
  --filter-form-tag-color: #9e9da8;
}
