@use "../abstracts";
.dropdown {
  position: absolute;
  left: 0;
  padding-top: 5.4rem;
  width: min(124rem, 100%);
  display: none;

  @include abstracts.screen(lg) {
    // display: block;
    position: static;
    padding-top: 0;
  }

  .dropdown__inner {
    --inner-max-height: min(58.2rem, calc(100vh - 13rem));
    --inner-padding: 3rem;

    height: var(--inner-max-height);
    position: relative;
    padding: var(--inner-padding);
    border-radius: 2rem;
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
    @include abstracts.screen(lg) {
      box-shadow: unset;
      background: transparent;
      border-radius: unset;
      padding: 0;
      height: unset;
    }

    &::before {
      content: url("../icon/arrow-top.svg");
      position: absolute;
      top: -1.3rem;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arrow-color);

      @include abstracts.screen(lg) {
        content: none;
      }
    }
    .top-menu {
      --main-menu-width: 29.2rem;
      --max-inner-height-menu: calc(var(--inner-max-height) - (var(--inner-padding) * 2));
      position: relative;
      width: 100%;
      max-height: var(--max-inner-height-menu);
      @include abstracts.screen(lg) {
        max-height: unset;
      }

      &__main {
        overflow-y: auto;
        width: var(--main-menu-width);
        max-height: inherit;
        border-right: 1px solid var(--top-menu-border-color);

        @include abstracts.screen(lg) {
          width: 100%;
          height: auto;
          border-right: unset;
          max-height: unset;
        }
      }
    }
  }
}

.menu-column {
  display: flex;
  gap: 1.4rem;

  + .menu-column {
    padding-top: 3rem;
  }
  &__icon {
    position: relative;
    flex-shrink: 0;
    width: 3.6rem;
    height: 3.6rem;

    @include abstracts.screen(xl) {
      display: none;
    }

    @include abstracts.screen(lg) {
      display: block;
    }
    &-1 {
      width: 3rem;
      height: 3rem;
    }
    &-2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 2.4rem;
      height: 2.4rem;
      filter: var(--menu-column-icon-color);
    }
  }

  &__content {
    flex-grow: 1;
    width: 100%;
    height: 100%;
  }
  &__heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 4px;

    @include abstracts.screen(lg) {
      margin-bottom: 2.6rem;
    }
  }
  &__list {
    margin-top: 16px;
    @include abstracts.screen(lg) {
      margin-top: 0;
    }
  }
  &__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;

    &--active,
    &:hover {
      > .menu-column__link {
        font-weight: 500;
        color: #0071dc;
      }
      .sub-menu {
        display: grid;
      }
    }
    &:last-child a {
      padding-bottom: 0;
    }
  }

  &__link {
    display: block;
    padding: 7px 0;
    &--last {
      padding: 7px 0 !important;
    }
  }
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-menu-width);
  // background-color: aqua;
  padding-left: var(--inner-padding);

  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  overflow-y: auto;

  &--last-item {
    .menu-column__link {
      padding: 7px 0 !important;
    }
    .menu-column__list {
      .menu-column__item:last-child a {
        padding-bottom: 0 !important;
      }
    }
  }

  &__not-main {
    display: grid;
    position: initial;
    inset: unset;
    grid-template-columns: repeat(4, 1fr);
    height: var(--max-inner-height-menu);
    padding-left: 0;
    @include abstracts.screen(lg) {
      height: auto;
    }
  }

  @include abstracts.screen(lg) {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}

.nav-btn {
  padding: 1rem 0;
  &__name,
  &__num {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 146.667%;
  }
  &__name {
    margin-left: 1.6rem;
  }

  &__num {
    margin-left: auto;
  }
}
