@use "../abstracts";
.logo {
  display: flex;
  align-items: center;
  gap: 1.4rem;

  &__title {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 145.455%; /* 145.455% */
  }

  &__desc {
    margin-top: 2rem;
    font-size: 1.8rem;
    line-height: 120%;
    padding-right: 2rem;
  }
}
